#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.

services:
  nginx:
    hostname: nginx
    container_name: nginx
    image: nginx
    depends_on:
      - registry
      - nifi
    ports:
      - "8080:8080"
      - "80:80"
      - "8443:443"
    networks:
      - default
    configs:
      - source: proxy
        target: /etc/nginx/conf.d/proxy.conf
      - source: index
        target: /usr/share/nginx/html/index.html
  zookeeper:
    hostname: zookeeper
    container_name: zookeeper
    image: 'bitnami/zookeeper:latest'
    ports:
      - 2181
    networks:
      - default
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
  redis:
    hostname: redis
    container_name: redis
    image: bitnami/redis:latest
    ports:
      - 6379
    networks:
      - default
    environment:
      - REDIS_PASSWORD=nifi_redis
  kafka:
    image: 'bitnami/kafka:latest'
    depends_on:
      - zookeeper
    deploy:
      mode: replicated
      replicas: 3
    ports:
      - 9092
    networks:
      - default
    environment:
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
  registry:
    hostname: registry
    container_name: registry
    image: apache/nifi-registry:latest
    ports:
      - "18080"
    networks:
      - default
    configs:
      - source: providers
        target: /opt/nifi-registry/nifi-registry-current/conf/providers.xml
    volumes:
      - ../flow_storage:/mnt/flow_storage:rw
  nifi:
    #image: apache/nifi:latest
    build: ./build-nifi
    depends_on:
      - zookeeper
      - registry
    deploy:
      mode: replicated
      replicas: 3
      endpoint_mode: vip
    expose:
      - 8080 # Unsecured HTTP Web Port
      - 8083
    environment:
      - NIFI_WEB_HTTP_PORT=8080
      - NIFI_CLUSTER_IS_NODE=true
      - NIFI_CLUSTER_NODE_PROTOCOL_PORT=8082
      - NIFI_ZK_CONNECT_STRING=zookeeper:2181
      - NIFI_ELECTION_MAX_WAIT=1 min
      - NIFI_SENSITIVE_PROPS_KEY=3e38a10eb5fb
configs:
  providers:
    file: ./conf/providers.xml
  proxy:
    file: ./conf/proxy.conf
  index:
    file: ./conf/nginx-index.htm
